@import '../../../../sass/variables';

.detailContainer {
  padding: $container-spacing;
  display: flex;
  flex-flow: row wrap;

  .price {
    padding: $container-spacing 0;
    font-size: 30px;
    font-weight: bold;
    color: $price-color;
  }

  .hero {
    display: flex;

    .image {
      width: 67%;
    }

    .detail {
      padding: $container-spacing;
    }
  }
}
